.game-board {
	display: grid;
	grid-template-columns: 5rem 5rem 5rem 5rem 5rem;
	grid-template-rows: 5rem 5rem 5rem 5rem 5rem;
	justify-content: center;
	margin-top: 2rem;
}

.box {
	background-color: #d9d9d9;
	border: 4px solid black;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	outline-style: solid;
	outline-width: 3px;
	box-shadow: 6px 11px 25px 0px rgba(0, 0, 0, 0.75);
	font-family: 'Fredoka One', cursive;
}

h1 {
	display: flex;
	font-size: 50px;
	justify-content: center;
	margin-top: 3rem;
	font-family: 'Fredoka One', cursive;
	text-align: center;
}

h2 {
	display: flex;
	font-size: 1.75rem;
	margin-top: .5rem;
	font-family: 'Fredoka One', cursive;
}

h3 {
	display: flex;
	font-size: 1.75rem;
	justify-content: center;
	margin-top: .5rem;
	font-family: 'Fredoka One', cursive;
}

.forms {
	display: flex;
	justify-content: center;
	margin-left: 5px;
	padding: 5px;
	font-family: 'Fredoka One', cursive;
}

#submission,
#label,
#input {
	margin: 2px;
	padding: 2px;
	font-size: 27px;
	width: 100%;
	text-align: center;
	font-family: 'Fredoka One', cursive;
}

ul {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto;
	font-family: 'Fredoka One', cursive;
}

hr {
	border-top: 4px solid;
}

.correct {
	color: black;
	font-size: 1.25rem;
	font-family: 'Open Sans', sans-serif;
}

.not_on_board {
	color: black;
	font-size: 1.25rem;
	font-family: 'Open Sans', sans-serif;
	color: orangered;
}

#guessedwords {
	border: 2px;
}

body {
	background-image: url("/static/simone-hutsch-XzSFaKBXjBQ-unsplash.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#start {
	margin-top: 50%;
}

#timer {
	color: black;
	border: 4px solid black;
	width: 10rem;
	font-size: 32px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	margin-left: 2rem;
}

#reset {
	margin-bottom: 2rem;
}

.stats {
	margin-top: 2rem;
	font-family: 'Fredoka One', cursive;
	font-size: 1.45rem;
	text-align: center;
	display: grid;
	justify-content: center;
}

#scoreboard {
	font-size: 2.50rem;
}
