h1 {
	display: flex;
	font-size: 50px;
	justify-content: center;
	margin-top: 3rem;
	font-family: 'Fredoka One', cursive;
}

h2 {
	display: flex;
	font-size: 36px;
	margin-top: .5rem;
	font-family: 'Fredoka One', cursive;
}

h3 {
	display: flex;
	font-size: 36px;
	justify-content: center;
	margin-top: 2rem;
	font-family: 'Fredoka One', cursive;
}

.forms {
	display: flex;
	justify-content: center;
	margin-left: 5px;
	padding: 5px;
	font-family: 'Fredoka One', cursive;
}

#submission,
#label,
#input {
	margin: 2px;
	padding: 2px;
	font-size: 27px;
	width: 100%;
	text-align: center;
	font-family: 'Fredoka One', cursive;
}

ul {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto;
	font-family: 'Fredoka One', cursive;
}

hr {
	border-top: 4px solid;
}

.correct {
	color: black;
	font-size: 26px;
	font-family: 'Open Sans', sans-serif;
}

.not_on_board {
	color: black;
	font-size: 26px;
	font-family: 'Open Sans', sans-serif;
	color: orangered;
}

#guessedwords {
	border: 2px;
}

body {
	background-image: url("/static/simone-hutsch-XzSFaKBXjBQ-unsplash.png");
}

#start {
	margin-top: 50%;
}

#timer {
	color: black;
	width: 15%;
	padding: .25px;
	font-size: 38px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	margin-left: 2rem;
}

#reset {
	margin-bottom: 2rem;
}

#stats {
	display: flex;
	font-size: 36px;
	justify-content: center;
	margin-top: 2rem;
	font-family: 'Fredoka One', cursive;
}
