{% extends 'base.html' %}

{% block title %}Boggle Game Main{% endblock %}

{% block content %}

<h1>Boggle your brain on this one!</h1>
<h3 id=scoreboard class="animated zoomIn"></h3>
<div id="timer" class="animated zoomIn"></div>
<div class = "game-board container animated zoomIn">
    {% for word in session['board'] %}
        {% for letter in word %}
            <div class="box">{{letter}}</div>
        {% endfor %}
    {% endfor %}
</div>

<div class="stats"><p><b>Games Played: &nbsp;</b>{{session['nplays']}} &nbsp;| &nbsp;<b>Highest Score: &nbsp;</b>{{session['highscore']}}</p></div>

<div id="guessedwords" class="animated zoomIn">
    <h2>Guessed Words:</h2>
    <ul id="guesswordslist"></ul>
</div>
<div id="scoredwords" class="animated zoomIn">
    <h2>Scored Words:</h2>
    <ul id="scoredwordslist"></ul>
</div>
<hr>
<form action="/game.html" id="form_guess" class="forms animated zoomIn" method="GET">
    <div class="form-group">
        <label for="search_input" id="label">Word Guesses:</label>
        <input class="form-control form-control-lg" type="text" placeholder="type word guess here" id="search_input">
        <button type="submit" class="btn blue-gradient" id="submission">Submit</button>
    </div>
</form>


<div class="container" id="resetspot"></div>


<div id="wrong"></div>
{% endblock %}